/* css optimization isn't done yet because thats boring */

body{
    font-family: "Montserrat";
}

#title{
    background-color: #fd297b;
    color: #fff;
}

.container-fluid{
    padding:3% 15%;
}

h1,h2,h3,h4,h6{
    font-family: 'Montserrat-Bold';
}
h2{
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}
h3{
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

.big-heading{
    font-family: 'Montserrat-Black,sans-serief';
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.45;
}
/* nav-brand */

.navbar{
    padding: 0 0 3.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Montserrat-Light";
    font-size: 1.3rem;
    
}

/* download button */
.download-button{
    margin: 3% 3% 3% 0;
}

/* iphone-image */
.iphone-image{
    width: 50%;
    height: 90%;
    transform: rotate(26deg);
}

/* feature-sections */
#features{
    padding: 6% 15%;
    background-color: white;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #fd297b;
    margin-bottom: 1rem;
}

.icon:hover{
    color: red;
}

/* testimonial*/
#testimonials{
    text-align: center;
    background-color: #fd297b;
    color: #fff;
}
.carousel-item{
padding: 0% 15% 15% 15%;
}
.testimonial-image{
    width: 18%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #fd297b;
    text-align: center;
    padding-bottom: 4%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 40px;
}
.testimonial-slide{
    position: absolute;
    margin-top: 5.8rem;
}


/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }

#cta{
    background-color: #fd297b;
    color: #fff;
    padding: 6% 15%;
    text-align: center;
}

.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.5;
}

/* footer section  */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    padding: 5% 1%;
}