body{
    font-family: "Montserrat";
}

#title{
    background-color: #fd297b;
    color: #fff
}

.container-fluid{
    padding:3% 15%;
}

h1{
    font-family: 'Montserrat-Black,sans-serief';
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.45;
}
h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-Bold';
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
/* nav-brand */

.navbar{
    padding: 0 0 3.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Montserrat-Light";
    font-size: 1.3rem;
    
}

/* download button */
.download-button{
    margin: 3% 3% 3% 0;
}

/* iphone-image */
.iphone-image{
    width: 50%;
    height: 90%;
    transform: rotate(26deg);
}

/* feature-sections */
#features{
    padding: 6% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #fd297b;
    margin-bottom: 1rem;
}

.icon:hover{
    color: red;
}

/* testimonial*/
#testimonials{
    padding: 0% 15% 15% 15%;
    text-align: center;
    background-color: #fd297b;
    color: #fff;
}

.testimonial-image{
    width: 18%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #fd297b;
    text-align: center;
    padding-bottom: 4%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 40px;
}